.grid {
  max-width: 1180px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='grid__column--'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

.row--guttered > [class*='grid__column--'] {
  margin-left: 1.5%;
}
.row--guttered > [class*='grid__column--']:first-child {
  margin-left: 0;
}

.grid__column--1 {
  width: 8.33333%;
}

.grid__column--1-push {
  margin-left: 8.33333%;
}

.grid__column--1-pull {
  margin-right: 8.33333%;
}

.row--padded .grid__column--1 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--1 {
  width: 6.95833%;
}

.grid__column--2 {
  width: 16.66667%;
}

.grid__column--2-push {
  margin-left: 16.66667%;
}

.grid__column--2-pull {
  margin-right: 16.66667%;
}

.row--padded .grid__column--2 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--2 {
  width: 15.41667%;
}

.grid__column--3 {
  width: 25%;
}

.grid__column--3-push {
  margin-left: 25%;
}

.grid__column--3-pull {
  margin-right: 25%;
}

.row--padded .grid__column--3 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--3 {
  width: 23.875%;
}

.grid__column--4 {
  width: 33.33333%;
}

.grid__column--4-push {
  margin-left: 33.33333%;
}

.grid__column--4-pull {
  margin-right: 33.33333%;
}

.row--padded .grid__column--4 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--4 {
  width: 32.33333%;
}

.grid__column--5 {
  width: 41.66667%;
}

.grid__column--5-push {
  margin-left: 41.66667%;
}

.grid__column--5-pull {
  margin-right: 41.66667%;
}

.row--padded .grid__column--5 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--5 {
  width: 40.79167%;
}

.grid__column--6 {
  width: 50%;
}

.grid__column--6-push {
  margin-left: 50%;
}

.grid__column--6-pull {
  margin-right: 50%;
}

.row--padded .grid__column--6 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--6 {
  width: 49.25%;
}

.grid__column--7 {
  width: 58.33333%;
}

.grid__column--7-push {
  margin-left: 58.33333%;
}

.grid__column--7-pull {
  margin-right: 58.33333%;
}

.row--padded .grid__column--7 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--7 {
  width: 57.70833%;
}

.grid__column--8 {
  width: 66.66667%;
}

.grid__column--8-push {
  margin-left: 66.66667%;
}

.grid__column--8-pull {
  margin-right: 66.66667%;
}

.row--padded .grid__column--8 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--8 {
  width: 66.16667%;
}

.grid__column--9 {
  width: 75%;
}

.grid__column--9-push {
  margin-left: 75%;
}

.grid__column--9-pull {
  margin-right: 75%;
}

.row--padded .grid__column--9 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--9 {
  width: 74.625%;
}

.grid__column--10 {
  width: 83.33333%;
}

.grid__column--10-push {
  margin-left: 83.33333%;
}

.grid__column--10-pull {
  margin-right: 83.33333%;
}

.row--padded .grid__column--10 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--10 {
  width: 83.08333%;
}

.grid__column--11 {
  width: 91.66667%;
}

.grid__column--11-push {
  margin-left: 91.66667%;
}

.grid__column--11-pull {
  margin-right: 91.66667%;
}

.row--padded .grid__column--11 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--11 {
  width: 91.54167%;
}

.grid__column--12 {
  width: 100%;
}

.grid__column--12-push {
  margin-left: 100%;
}

.grid__column--12-pull {
  margin-right: 100%;
}

.row--padded .grid__column--12 {
  padding-left: 4px;
  padding-right: 4px;
}

.row--guttered .grid__column--12 {
  width: 100%;
}

body {
  background-color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
body * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p:first-child {
  margin-top: 0;
}

.lead {
  font-size: 120%;
}

a,
a:visited,
a:focus,
a:active {
  color: #7e20ac;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #3f1056;
  transition: color 0.3s ease;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.navigation {
  background-color: #337ab7;
}
.navigation .navigation__title {
  position: relative;
  top: 4px;
  color: white;
  margin-right: 10px;
}
.navigation .navigation__title:hover {
  color: white;
}
.navigation .navigation__list {
  padding-left: 0;
  margin: 0;
}
.navigation .navigation__list .navigation__item {
  position: relative;
}
.navigation .navigation__list .navigation__item .navigation__list {
  position: absolute;
  display: none;
  top: 42px;
  left: -1px;
  width: 50%;
  z-index: 1;
}
.navigation .navigation__list .navigation__item:hover {
  background-color: #2d6da3;
}
.navigation .navigation__list .navigation__item:hover .navigation__list {
  border: 1px solid #285f8f;
  width: 200px;
  background-color: #3b87c8;
  display: inline-block;
}
.navigation .navigation__list .navigation__item:hover .navigation__list .navigation__item {
  width: 100%;
  float: none;
  border-left: 0;
  border-top: 1px solid #285f8f;
}
.navigation .navigation__list .navigation__item:hover .navigation__list .navigation__item:first-child {
  border-top: 0;
}
.navigation .navigation__item,
.navigation .navigation__title {
  float: left;
  list-style: none;
}
.navigation .navigation__item .navigation__anchor {
  padding: 14px 12px;
  display: inline-block;
  color: white;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.navigation .navigation__item .navigation__anchor:hover {
  color: white;
  background-color: #2d6da3;
}
.navigation .navigation__item + .navigation__item {
  border-left: 1px solid #285f8f;
}

@media screen and (max-width: 750px) {
  .navigation__list {
    text-align: center;
  }
}
.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.table .table__head {
  background-color: #bbbbbb;
}
.table .table__head a {
  color: #337ab7;
}
.table .table__head a:hover {
  color: #285f8f;
}
.table .table__body {
  padding: 20px;
}
.table.table--hover .table__body .table__row:hover {
  background-color: white;
}
.table .table__row {
  border-top: 1px solid #888888;
}
.table .table__row:first-child {
  border-top: 0;
}
.table .table__cell {
  position: relative;
  border-left: 1px solid #888888;
  padding: 6px;
}
.table .table__cell:first-child {
  border-left: 0;
}
.table.table--condensed {
  font-size: 80%;
}

.button,
a.button,
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  background-color: #7e20ac;
  text-shadow: 0px 1px 1px #3f1056;
  line-height: 1;
  color: #c57ee7;
  border: 1px solid #bbbbbb;
}
.button:hover,
a.button:hover,
input[type="submit"]:hover {
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
  background-color: black;
}
.button.button--primary,
a.button.button--primary,
input[type="submit"].button--primary {
  color: #dbe9f5;
  background-color: #337ab7;
  border-color: #2d6da3;
  text-shadow: 0px 1px 1px #285f8f;
}
.button.button--primary:hover,
a.button.button--primary:hover,
input[type="submit"].button--primary:hover {
  color: white;
}
.button.button--positive,
a.button.button--positive,
input[type="submit"].button--positive {
  background-color: #5cb85c;
  color: #f1f9f1 !important;
  border-color: #3d8b3d;
  text-shadow: 0px 1px 1px #449d44;
}
.button.button--positive:hover,
a.button.button--positive:hover,
input[type="submit"].button--positive:hover {
  color: white !important;
}
.button.button--negative,
a.button.button--negative,
input[type="submit"].button--negative {
  background-color: #d9534f;
  color: white;
  border-color: #b52b27;
  text-shadow: 0px 1px 1px #c9302c;
}
.button.button--negative:hover,
a.button.button--negative:hover,
input[type="submit"].button--negative:hover {
  color: white;
}
.button.button--large,
a.button.button--large,
input[type="submit"].button--large {
  font-size: 27px;
  padding: 9px;
}
.button.button--small,
a.button.button--small,
input[type="submit"].button--small {
  font-size: 9px;
  padding: 3px;
}
.button + .button,
a.button + .button,
input[type="submit"] + .button {
  margin-left: 10px;
}

.panel {
  font-size: 90%;
  padding: 0;
  width: 100%;
  list-style: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #888888;
}
.panel a {
  color: #77acd9;
}
.panel a:hover {
  color: #9fc4e4;
}
.panel + .panel {
  margin-top: 16px;
}
.panel .panel__heading {
  position: relative;
  background-color: #bbbbbb;
  padding: 10px;
  color: white;
  margin-bottom: 0 !important;
}
.panel.panel--padded .panel__body {
  padding: 10px;
}

.notification {
  padding: 6px 10px;
  font-size: 12px;
  background-color: #5bc0de;
  color: #222222;
  cursor: pointer;
}
.notification.notification--positive {
  background-color: #5cb85c;
}
.notification.notification--negative {
  background-color: #d9534f;
}
.notification .notification__close {
  font-size: 10px;
  background-color: transparent;
  border: 0;
  float: right;
}
.notification + .notification {
  margin-top: 6px;
}

.media,
.media > .media {
  margin: auto;
  overflow: hidden;
}

.media .media__left {
  float: left;
  margin-right: 1.5%;
}
.media .media__right {
  float: right;
  margin-right: 1.5%;
}

.absolute-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sticky {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
.sticky .sticky__visible {
  display: inline-block;
}

.sticky__visible {
  display: none;
}

.pushes-down-footer {
  min-height: 100%;
  margin-bottom: -140px;
}

.pushes-down-footer:after {
  content: "";
  display: block;
}

.footer,
.pushes-down-footer:after {
  height: 140px;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.primary-fg {
  color: #337ab7;
}

.primary-bg {
  background-color: #337ab7;
}

.muted-fg {
  color: #888888;
}

.positive-bg {
  background-color: #5cb85c;
}
